
@{
    ViewBag.Title = "Contactrview";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contactrview</h2>


<p>Welcome ^-^  : @ViewBag.Name</p>
<p>Your Birth Year is : @ViewBag.Birthyear</p>
<p>Your Gender is : @ViewBag.Gender</p>
<p>Your Courses is : @ViewBag.Courses</p>
<p>Your Skills is : @ViewBag.Skills</p>



